body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  
}

.header {
  height: 5vh;
  background: darkmagenta;
  color: white;
  font-size: 32px;
  font-weight: 900;
  padding-left: 16px;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.footer {
  height: 5vh;
  background: #eee;
  color: darkmagenta;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.sidebar {
  width: 300px;
  background: royalblue;
  display: flex;
  flex-shrink: 0;
  flex-grow: 10;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
}

.content {
  display: flex;
  flex-direction: row;
  height: 90vh;
  flex: 1;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  color: white;
  font-size: larger;
  margin-left: 12px;
  margin-bottom: 40px;
  margin-top: 40px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  width: 300px;
}